<!--<div *ngFor="let detail of detailList">-->
<!--<div *ngIf="projectEntry">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered">
        <p class="title">{{projectEntry.title}}</p>
        <div class="content">
         Text: <p>{{projectEntry.text}}</p>
          Description: <p>{{projectEntry.description}}</p>
          Technologie: <p>{{projectEntry.technology}}</p>
          <a [href]="projectEntry.url" class="button has-text-white-bis has-background-black-ter">
            <strong>GitLab</strong>
          </a>
          <button (click)="goBack()">GO Back</button>
        </div>
      </article>
    </div>
  </div>-->

<div class="cover">
   <mat-card class="example-card example-full-width" *ngIf="projectEntry">
     <h1>{{projectEntry.title}}</h1>
     <h2>Text:</h2>
     <mat-card-subtitle>{{projectEntry.text}}</mat-card-subtitle>
     <mat-divider></mat-divider>
     <h2>Beschreibung:</h2>
     <mat-card-subtitle>{{projectEntry.description}}</mat-card-subtitle>
     <mat-divider></mat-divider>
     <h2>Technologien:</h2>
     <mat-card-subtitle>{{projectEntry.technology}}</mat-card-subtitle>
     <mat-card-actions>
       <a [href]="projectEntry.url" class="button" mat-raised-button color="primary">GitLab</a>
     </mat-card-actions>
   </mat-card>
</div>
<br>


  <button mat-raised-button color="warn" (click)="goBack()">Back</button>





