.cover{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  display: inline-block;
  width: 50%;
  min-width: 400px;
  height: 400px;
  border: 1px solid;
  /*transparentize(grey, 0.7);*/
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 0px;
  /*transparentize(black, 0.3);*/
  border-radius: 3px;
  margin: 1em 1.5%;
  animation: scl 0.5s ease-in-out;
  transform-origin: left center;
  background-color: #fff;
}

.button {
  width: 100%;
}


