
<!--<div class="columns is-multiline">
  <div class="column is-one-third" *ngFor="let category of categories">

    <div class="tile is-parent ">
    <article class="tile is-child box has-text-centered">
      <p class="title">{{category.title}}</p>
      <p class="subtitle">{{category.text}}</p>
      <figure class="image">
        <img src="http://www.peterloos.de/Pictures/WPF/Pong_Original.png">
      </figure>
      <div class="content">
        <p>Technologien: Java; JavaFX</p>
        <a *ngIf="sessionUser !== null" class="button has-text-white-bis has-background-black-ter"
           [routerLink]="['/category', category.id]">
          <strong>Zu den Projekten</strong>
        </a>
      </div>
    </article>
  </div>
</div>
</div>-->

<body>

<h1>Kategorien</h1>

<mat-card class="example-card" *ngFor="let category of categories">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{category.title}}</mat-card-title>
    <mat-card-subtitle>{{category.text}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">

  <mat-card-actions>
    <button class="button" mat-raised-button color="primary" [routerLink]="['/category', category.id]">Zu den Projekten</button>
  </mat-card-actions>
</mat-card>

</body>
