<body>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">-->

<!--<div class="dropdown is-active is-pulled-right">-->
<!--  <div class="dropdown-trigger">-->
<!--    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">-->
<!--      <span>Dropdown button</span>-->
<!--      <span class="icon is-small">-->
<!--        <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--      </span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="dropdown-menu" id="dropdown-menu" role="menu">-->
<!--    <div class="dropdown-content">-->

<!--      <a [routerLink]="['/projects/', 'java']" class="dropdown-item" (click)="filterTech2()">-->
<!--        Java-->
<!--      </a>-->
<!--        <a [routerLink]="['/projects/', 'spring']" class="dropdown-item" (click)="filterTech2()">-->
<!--          Spring-->
<!--        </a>-->
<!--      <a [routerLink]="['/projects/', 'javafx']" class="dropdown-item" (click)="filterTech2()">-->
<!--        javafx-->
<!--      </a>-->
<!--      <a [routerLink]="['/projects/', 'angular']" class="dropdown-item" (click)="filterTech2()">-->
<!--        angular-->
<!--      </a>-->
<!--      <a type="submit" (click)="filterTech2()" class="dropdown-item">Spring</a>-->
<!--      <a href="#" class="dropdown-item">-->
<!--        Active dropdown item-->
<!--      </a>-->
<!--      <a href="#" class="dropdown-item">-->
<!--        Other dropdown item-->
<!--      </a>-->
<!--      <hr class="dropdown-divider">-->
<!--      <a href="#" class="dropdown-item">-->
<!--        With a divider-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<h1>Suche nach spannenden Projekten</h1>

<form class="example-form">
  <label>
    <input (input)="search()" [(ngModel)]="term" type="text" placeholder="Search" [formControl]="myControl"
           [matAutocomplete]="auto">
  </label>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let project of filteredProjects" [value]="project">
      <a routerLink="/category/details/{{project.id}}">{{project.title}}</a>
    </mat-option>
  </mat-autocomplete>
</form>
<br>

<mat-form-field>
  <mat-label class="label">Technology</mat-label>
  <mat-select>
    <mat-option>
      <button [routerLink]="['/projects/', 'java']" mat-button class="dropdown-item">Java</button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'spring']" mat-button class="dropdown-item">
        Spring
      </button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'javafx']" mat-button class="dropdown-item">
        Javafx
      </button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'angular']" mat-button class="dropdown-item">
        Angular
      </button>
    </mat-option>
  </mat-select>
</mat-form-field>




<hr>


<!--<div id="search-component">-->
<!--  <h4><label for="search-box">Search</label></h4>-->
<!--  <input #searchBox [(ngModel)]="term" id="search-box" (input)="search()"/>-->
<!--  <ul class="search-result">-->
<!--    <li *ngFor="let project of filteredProjects">-->
<!--      <a routerLink="/category/details/{{project.id}}">-->
<!--        <span> {{project.title}}</span>-->
<!--      </a>-->
<!--      &lt;!&ndash; < a [routerLink]="['./details', project.id]">{{project.title}}</a>&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


<br>
<br>
<br>
<br>

<!--<div *ngFor="let project of allProjects">-->
<!--  <div class="tile is-ancestor">-->
<!--    <div class="tile is-parent">-->
<!--      <article class="tile is-child box has-text-centered">-->
<!--        <p class="title">{{project.title}}</p>-->
<!--        <div class="content">-->
<!--          <p>{{project.text}}</p>-->
<!--          <p>{{project.description}}</p>-->
<!--          <p>{{project.technology}}</p>-->
<!--        </div>-->
<!--      </article>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<mat-list>-->
<!--  <mat-list-item *ngFor="let message of messages">-->
<!--    <h3 matLine> {{message.from}} </h3>-->
<!--    <p matLine> {{message.subject}} </p>-->
<!--    <p matLine class="demo-2"> {{message.content}} </p>-->
<!--  </mat-list-item>-->
<!--</mat-list>-->

<div class="cards-row">
  <mat-card class="example-card" *ngFor="let project of allProjects">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.text}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">
    <mat-card-content>
      <p>{{project.description}}</p>
      <p>{{project.technology}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" color="primary" mat-raised-button routerLink="/category/details/{{project.id}}">Projektdetails
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>





<br>

<!--<div class="mdc-layout-grid__cell&#45;&#45;span-<4>">-->
<!--  <div class="mdc-layout-grid__inner">-->
<!--    <div class="mdc-layout-grid__cell" >-->
<!--      <mat-card class="example-card" *ngFor="let project of allProjects">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>{{project.title}}</mat-card-title>-->
<!--          <mat-card-subtitle>{{project.text}}</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p>{{project.description}}</p>-->
<!--          <p>{{project.technology}}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button color="primary" mat-raised-button  routerLink="/category/details/{{project.id}}">Zu den Projektdetails</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


</body>
