/*!* HeroSearch private styles *!*/

body{
  margin: 100px;
}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 40px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.label{
  font-size: 15px;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}

.search-result li a:active {
  color: white;
}

#search-box {
  width: 200px;
  height: 50px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.example-card {
  justify-content: flex-end;
  max-width: 400px;
  transform-origin: left center;
  display: inline-block;
  width: 30%;
  margin: 1em 1.5%;
  /*min-width: 400px;*/
  /*height: 200px;*/
  /*border: 1px solid;*/
  /*transparentize(grey, 0.7);*/
  /*box-sizing: border-box;*/
  box-shadow: 2px 2px 25px 0px;
  /*transparentize(black, 0.3);*/
  border-radius: 3px;
  /*animation: scl 0.5s ease-in-out;*/
  background-color: #fff;
}




.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}

.cards-row {
  background-color: #fff;
  margin: 0px auto;
}




.example-header-image {
  background-image: url('https://conceptdraw.com/a155c4/p60/preview/640/pict--code-cloud-round-icons---vector-stencils-library.png--diagram-flowchart-example.png');
  background-size: cover;
}

.button{
  width: 100%;
}
