<mat-card class="my-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <label>
          <input matInput name="username" [(ngModel)]="loginData.username">
        </label>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <label>
          <input matInput [type]="loginData.password.checked ? 'text' : 'password'" name="password" [(ngModel)]="loginData.password">
        </label>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card>


<!--<mat-card class="login-card">

    <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form *ngIf="sessionUser === null" [formGroup]="form" (ngSubmit)="login()">
      <table class="login-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-full-width">
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="login-full-width">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field></td>

        </tr></table>
    </form>
    <mat-progress-spinner
      class="login-margin"
      color="primary"
      mode="indeterminate"
      value="value">
    </mat-progress-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>-->
<!--
<form *ngIf="sessionUser === null" (ngSubmit)="login()">
  <label>Username: <input name="username" [(ngModel)]="loginData.username"></label><br>
  <label>Password: <input type="password" name="password" [(ngModel)]="loginData.password"></label><br>
  <button type="submit">Los</button>
</form>
-->

