<header>
  <div class="container">
    <h1>-Do Work That Matters-</h1>
    <h3>You'll never regret it.</h3>

  </div>
</header>
<section>
  <div class="container">
    <p class="lead-in">Willkommen auf der Academy-Doku,</p>
    <hr/>

    <p></p>

    <p>Eos cupiditate, id. Tempore vero eum sapiente reprehenderit, corporis natus nulla inventore quae, itaque mollitia
      ipsam! Numquam culpa eius, est error! Repudiandae fugit adipisci fugiat optio aliquid natus, similique
      molestias.</p>
  </div>
</section>
