<button mat-raised-button color="warn" (click)="goBack()">Back</button>


<!--<div class="cards-row">-->
<!--  <mat-card class="card" *ngFor="let project of allProjects">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{project.title}}</mat-card-title>-->
<!--      <mat-card-subtitle>{{project.text}}</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{project.description}}</p>-->
<!--      <p>{{project.technology}}</p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button color="primary" mat-raised-button routerLink="/category/details/{{project.id}}">Zu den Projektdetails-->
<!--      </button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--  <br>-->
<!--</div>-->

<h1>{{technology.toUpperCase()}} Projekte</h1>

<div class="cards-row">
  <mat-card class="example-card" *ngFor="let project of allProjects">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.text}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">
    <mat-card-content>
      <p>{{project.description}}</p>
      <p>{{project.technology}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" color="primary" mat-raised-button routerLink="/category/details/{{project.id}}">Projektdetails
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>
