<mat-toolbar>
  <button mat-raised-button color="primary" [routerLink]="['/category',id,'form']">Projekt hinzufügen</button>
</mat-toolbar>

<body>

<h1>{{category.title}}</h1>

<mat-card class="example-card" *ngFor="let project of projects">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{project.title}}</mat-card-title>
    <mat-card-subtitle>{{project.text}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">
  <mat-card-content>
    <p>{{project.description}}</p>
    <p>{{project.technology}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="sessionUser !== null" mat-raised-button color="primary" [routerLink]="['/category/', id, 'details', project.id]">Projektdetails</button>
    <button mat-raised-button color="warn" (click)="deleteEntry(project)">Löschen</button>
    <button mat-raised-button color="primary" [routerLink]="['/category/', id, 'details', project.id, 'edit']">Bearbeiten</button>
  </mat-card-actions>
</mat-card>

</body>
<!--
<div *ngFor="let project of projects">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered">
        <p class="title">{{project.title}}</p>
        <div class="content">
          <p>{{project.text}}</p>
          <a *ngIf="sessionUser !== null" class="button has-text-white-bis has-background-black-ter"
             [routerLink]="['/category/', id, 'details', project.id]">
            <strong>Zu den Projektdetails</strong>
          </a>


          <button class="delete" (click)="deleteEntry(project)">x</button>
          <a class="button has-text-white-bis has-background-black-ter"
             [routerLink]="['/category/', id, 'details', project.id]">
            Projekt bearbeiten
          </a>
        </div>
      </article>
    </div>
  </div>
</div>
-->


