<ng-container *ngIf="sessionUser === null">
  <form [formGroup]="registryForm" (ngSubmit)="registerUser(userRegistrationDTO)" class="form-group">
    <label>Username: <input id="username" class="form-control" formControlName="username" required placeholder="Username"></label>
    <br>
    <label>Passwort: <input id="password" class="form-control" formControlName="password" required placeholder="Passwort"></label>
  <br>
    <label>Password2: <input id="password2" class="form-control" formControlName="password2" required placeholder="Passwort Wiederholung"></label>
  <br>
  <button class="btn btn-success"type="submit" [disabled]="registryForm.invalid">Register</button>
  </form>
</ng-container>

