<h1>Write a new project entry:</h1>
<form (ngSubmit)="writeEntry()">
  <p>Title: <input type="text" name="title" [(ngModel)]="newProjectEntry.title"></p><br>
  <p>Text: <input type="text" name="text" [(ngModel)]="newProjectEntry.text"></p><br>
  <p>URL: <input type="text" name="url" [(ngModel)]="newProjectEntry.url"></p><br>
  <p>Description: <input type="text" name="url" [(ngModel)]="newProjectEntry.description"></p><br>
  <p>Technology: <input type="text" name="url" [(ngModel)]="newProjectEntry.technology"></p><br>
  <button type="submit">New Entry</button>
</form>





